.bg-index{
  background: url('../img/ball01.svg') top 25% left -20% no-repeat,url('../img/ball02.svg') top 58% right -5% no-repeat, url('../img/ball03.svg') top 78% left 10% no-repeat;
  background-size: 30rem, 25rem, 13rem;
}

.bn-index {
  height: 100vh;
  background: url('../img/home.svg') top 30% right 10% no-repeat, url('../img/bg_home.svg') top right no-repeat;
  background-size: auto 75vh, auto 100vh;
}

main{
  .icon {
    width: 90px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .platform{
    p{
      color: #747474;
    }
  }
  .cardFunction{
    border-radius: 0.75rem;
    padding: 1.5rem;
    .imgBg{
      width: 86px;
      height: 86px;
      border-radius: 50%;
      box-shadow: 0px 0.125rem 0.625rem #00000014;
      img{
        width: 65%;
        height: 65%;
      }
    }
    h5{
      font-size: 1.25rem;
    }
  }
  .cardFeedback{
    .card-body{
      padding: 4rem 2.5rem 2.5rem 2.5rem;
    }
    .card-img-outTop{
      top: -2.5rem;
      left: 2rem;
      width: 80px;
      height: 80px;
      img{
        width: 100%;
        border-radius: 50%;
      }
    }
    .card-stars{
      max-width: 30%;
      img{
        width: 1.25rem;
        height: 1.25rem;
        margin-left: .25rem;
      }
    }
  }
}

.bn-footer{
  height: 45vh;
  background: url('../img/home_footer.svg')top center repeat-x;
  // background-size: cover;
  padding: 4.5rem 0;
  h2{
    margin-top: 12rem;
    font-size: 2rem;
  }
}


///// ------------------- mobile -------------------

@media (max-width: 767px) {
  .bg-index{
    max-width: 100%;
    background: url('../img/ball01.svg') top 1% left -32% no-repeat,url('../img/ball02.svg') top 60% right -25% no-repeat, url('../img/ball03.svg') top 85% left -22% no-repeat;
    background-size: 8rem, 10rem, 10rem;
  }

  .bn-index {
    background: url('../img/home.svg') bottom 10% center no-repeat, url('../img/bg_home_sm.svg') bottom 10% center no-repeat;
    background-size: 90% auto, 90% auto;
    .row{
      margin-top: 10% ;
    }
  }

  main{
    .cardFunction{
      h5{
        font-size: 1rem;
      }
    }
    .cardFeedback{
      .card-body{
        padding: 4rem 1.5rem 1.5rem 1.5rem;
      }
      h5{
          font-size: 1rem;
      }
    }
  }


  .bn-footer{
    height: 52vh;
    background: url('../img/footer_sm.svg')top center no-repeat;
    background-size: contain;
    h2{
      margin-top: 14rem;
      font-size: 1.5rem;
    }
  }

}







